<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap CSS -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
        crossorigin="anonymous"
      />
    <title>Graphs</title>
</head>
<body>
  <div class="loading-page" id="div-01">
    <div class="loader"></div>
    <h1 class = "blue" id="loading">Loading Graphs...</h1>
  </div>
  <script>
    setTimeout(function () {
        const element = document.getElementById("div-01");
        element.remove(); // Removes the div with the 'div-02' id
      div.classList.remove('loading-page'); // Remove the loading page element from the DOM
    }, 3000);
  </script>
    <!-- Navbar -->
    <!-- https://getbootstrap.com/docs/5.3/components/navbar/ -->
    <!-- Create a navbar with a dark background -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- Create a collapsible navbar content area -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <!-- Create an unordered list to hold the navigation links -->
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class = "container">
    <div class = "row"></div>
        <h1 class = "blue"> Stock: {{user.company_name}} (<a href="{{user.company_website}}" target = "_blank" class = "website-color">{{ user.stock}}</a>)</h1>
    </div>
    <div class = "row">
      <div class = "col-3"></div>
      <div class = "col-3">
      <h2> Start Date: <br> {{ user.startDate }} </h2>
      </div>
      <div class = "col-3">
      <h2> End Date: <br> {{ user.endDate }} </h2>
      </div>
      <div class = "col-3"></div><br><br><br>
    </div>
    
    <br>
    <div class = "row">
      <div class = "col-2"></div>
      <div class = "col-8">
        <center> <i> <h3> If your submitted start and end dates are out of range of the stock data, they have been automatically adjusted below. </h3> </i> </center>
      </div>
      <div class = "col-2"></div>

    </div>
    <div class = "row">
        <div class = "col-3"></div>
        <div class = "col-3">
        <h2> Period: {{ user.period }} days </h2>
        </div>
        <div class = "col-3">
        <h2> SDs: {{ user.SDs }} </h2>
        </div>
        <div class = "col-3"></div><br><br><br>
    </div>
    <br>
        <b> <h2 class = "blue">{{user.stock}} Historical Stock Price</h2> </b>
        <img class = "charts" src = "static/images/{{user.stock}}-Stock.jpeg" height = 600><br><br>
        <b> <h2 class = "blue">{{user.stock}} {{user.period}} Day Moving Average</h2> </b>
          <img class = "charts" src = "static/images/{{user.stock}}-{{user.period}}-Day-SMA.jpeg" height = 600><br><br>
        <b> <h2 class = "blue">{{user.stock}} {{user.period}} Day Exponential Moving Average</h2> </b>
          <img class = "charts" src = "static/images/{{user.stock}}-{{user.EMA_period}}-Day-EMA.jpeg" height = 600><br><br>
        <b> <h2 class = "blue">{{user.stock}} Bollinger Bands</h2> </b>
          <img class = "charts" src = "static/images/{{user.stock}}-BB.jpeg" height = 600><br><br>
        <b> <h2 class = "blue">{{user.stock}} Buy Sell Markers</h2> </b>
          <img class = "charts" src = "static/images/{{user.stock}}-BuySell.jpeg" height = 600><br><br>
        
        <h3 id = "question">
          Now that you've seen what the Bollinger Band strategy looks like for this stock, you can choose to deploy this strategy below!
        </h3><br><br>
        <form class = "input-field" method="post" action="/results">
          <center> 
            <label class = "input-field" for="numShares"> <h4>How many shares do you want to purchase?</h4></label>
            <input type="text" name="numShares" style="align-self:center"/>        </center>
            <input type="text" name="profitPerShare" style="visibility:hidden" value={{user.profitPerShare}} />
            <input type="text" name="image_5" style="visibility:hidden" value={{user.image_5}} />
            <input type="text" name="stock" style="visibility:hidden" value={{user.stock}} />
            <input type="text" name="period" style="visibility:hidden" value={{user.period}} />
            <input type="text" name="SDs" style="visibility:hidden" value={{user.SDs}} />
            <input type="text" name="startDate" style="visibility:hidden" value={{user.startDate}} />
            <input type="text" name="endDate" style="visibility:hidden" value={{user.endDate}} />
            <center><input class = "submit-btn" type="submit" /></center> 
        </form>
    </div>
    <!-- Necessary Script -->
    <script src="script.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>