<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quant Anywhere</title>
    <link rel="icon" type="image/x-icon" href="static/saved_images/quantanywherelogo.jpg">
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
    <!-- Import most up-to-date Bootstrap CSS Here -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" 
    crossorigin="anonymous">
</head>

<style>
  .accordion {
      --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
      --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
</style>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <!-- Create a collapsible navbar content area -->
          <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Create an unordered list to hold the navigation links -->
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/strats">More Strategies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/resources">Resources</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>
          </div>
  </nav>
  <div class = "container">
    <div class = "row"> 
      <div class = "col-1"> </div>
      <div class = "col-10"> 
        <h1 id="welcometext" class = "blue"> Welcome, trader! </h1>
        <h3>The stock market is a dynamic, complex environment with many opportunities to create and test trading strategies.
          Today we will be introducing you to Bollinger Bands and deploying them to your favorite stocks.
          <br><br>
          <i> Scroll down to learn more and then input the requested information to test your strategy on historical stock data. </i>
        </h3>
        <br><br>
        
        <div class="accordion" id="accordionExample" >
          <!-- Accordion container -->
          <div class="accordion-item" >
            <!-- Accordion item #1 -->
            <h2 class="accordion-header" id="headingOne">

              <!-- Accordion header for item #1 -->
              <button
                class="accordion-button"
                id = "acc_button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Understanding Stocks
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <!-- Collapsible content for item #1 -->
              <div class="accordion-body">
                <div class = "row">
                  <!-- <div class = "col-2">
              </div> -->
              <div class = "col-12">
                <p>A <b>stock</b> is a form of security that indicates the holder has proportionate ownership in the issuing corporation and is sold predominantly on stock exchanges. Corporations issue stock to raise funds to operate their businesses. There are two main types of stock: common and preferred.
                <br><br>
                  Corporations issue stock to raise funds to operate their businesses and the holder of stock, a shareholder, may have a claim to part of the company's assets and earnings.
                  A shareholder is considered an owner of the issuing company, determined by the number of shares an investor owns relative to the number of outstanding shares. If a company has 1,000 shares of stock outstanding and one person owns 100 shares, that person would own and have a claim to 10% of the company's assets and earnings.
                </p>
              </div>
              </div>
              </div>
            </div>
          </div>
          <!-- Accordian Item 2 -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                id = "acc_button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Systematic Trading
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <div class = "row">
                  <div class = "col-3">
                    <p><b> Systematic trading</b> (also called automated trading, black-box trading, or algo-trading) uses a computer program that follows a defined set of instructions (an algorithm) to place a trade. The trade, in theory, can generate profits at a speed and frequency that is impossible for a human trader.
                      The defined sets of instructions are based on timing, price, quantity, or any mathematical model. Apart from profit opportunities for the trader, algo-trading renders markets more liquid and trading more systematic by ruling out the impact of human emotions on trading activities.
                    </p>
                  </div>
    
                  <div class = "col-9">
                    <img src = "static\images\Trading_Most_Important_1.PNG" width = 100%>
              </div>
              </div>
              </div>
            </div>
          </div>
          <!-- Accordian Item 3 -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                id = "acc_button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                Simple Moving Average (SMA)
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <div class = "row">
                  <div class = "col-12">
                    <p>A <b>simple moving average (SMA)</b> is an arithmetic moving average calculated by adding recent prices and then dividing by the number of days in the calculation period. For example, one could add the closing price of a security for a number of time periods and then divide this total by that same number of periods. Short-term averages respond quickly to changes in the price of the underlying security, while long-term averages are slower to react. The SMA evaluates the true price (the average of the high, low, and closing prices) for each day.
                    </p>
                  </div>
              </div>
              </div>
            </div>
          </div>
          <!-- Accordian Item 4 -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                id = "acc_button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                Exponential Moving Average (EMA)
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <div class = "row">
                  <div class = "col-4">
                    <p>An <b>exponential moving average (EMA)</b> is a type of moving average (MA) that places a greater weight and significance on the most recent data points. The exponential moving average is also referred to as the exponentially weighted moving average. An exponentially weighted moving average reacts more significantly to recent price changes than a simple moving average simple moving average (SMA), which applies an equal weight to all observations in the period. This weight is denoted by alpha.
                    </p>
                  </div>
                  <div class = "col-8">
                    <img src = "static\images\EMAvsSMA.png" width  = 690>
                  </div>
              </div>
              </div>
            </div>
          </div>
          <!-- Accordian Item 5 -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                id = "acc_button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                Bollinger Bands
              </button>
            </h2>
            <div
              id="collapseFive"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <div class = "row">
                  <div class = "col-3">
                    <p>A <b>Bollinger Band</b> is a technical analysis tool defined by a set of trendlines. They are plotted as a certain number of standard deviations (for the determined period) above and below the simple moving average (SMA) of a security's price. Since the width of the bands is based on standard deviation, they adjust to volatility swings in the underlying price. When the price of a stock hits either the upper or lower band, this may be interpreted as a signal to sell or buy.
                    </p>
                  </div>
    
                  <div class = "col-9">
                    <img src = "static\images\Bol_Band_Example.png" width = 100%>
              </div>
              </div>
              </div>
            </div>
          </div>
        </div><br><br><br>
      </div>
      <div class = "row">
        <br><br><br>
        <div class = "col-1"> </div>
        <div class = "col-10">
        <form class = "input-field" method="post" action="/graphs">
          <label for="stock" id="form-question">What is the ticker symbol of the stock?</label>
          <input type="text" name="stock" required/>
          <br><br>
          <label for="startDate" id="form-question">Please input the starting date for the trading window: </label>
          <input type="date" name="startDate" id = "startDate" required/>
          <br><br>
          <label for="endDate" id="form-question">Please input the ending date for the trading window: </label>
          <input type="date" name="endDate" id = "endDate" required/>
          <br><br>
          <script> 
            var start = document.getElementById('startDate');
            var end = document.getElementById('endDate');
            start.addEventListener('change', function() {
                if (start.value)
                    end.min = start.value;
            }, false);
            end.addEventListener('change', function() {
                if (end.value)
                    start.max = end.value;
            }, false);
          </script>

          <label for="period" id="form-question">What is the window of the SMA in days (positive integer, frequently around 20)? </label>
          <input type="number" name="period" min = "1" step = "1" required/>
          <br><br>
          <label for="EMA_period" id="form-question">What is the window of the EMA in days (positive integer, frequently around 50)? </label>
          <input type="number" name="EMA_period" min = "1" step = "1" required/>
          <br><br>
          <label for="EMA_alpha" id="form-question">What is the smoothing factor (alpha) for the EMA? </label>
          <input type="number" name="EMA_alpha" min = "0" max = "1" step = "0.1" required/>
          <br><br>
          <label for="SDs" id="form-question">How many SDs should determine the band width (positive float, frequently around 2)?</label>
          <input type="number" name="SDs" min = "0.01" step = ".01" required/>
          <br><br>
          <input class = "submit-btn" type="submit"/>
        </form>
      </div>
    </div>
      <div class = "col-2"> </div>
    </div>
    <div class = "row">
    </div>
  </div>
  <script src="script.js"></script>
    <!-- Necessary Script -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>