<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width">
  	<title>Resources</title>
    <link rel="icon" type="image/x-icon" href="static/saved_images/quantanywherelogo.jpg">
  	<link href="static/css/style.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Create a collapsible navbar content area -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <!-- Create an unordered list to hold the navigation links -->
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/strats">More Strategies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
</nav>
<div class = "container">
    <div class = "row text-center">
        <h1>Books</h1>
        <div class = "col-4">
            <a href = "https://www.amazon.com/Practical-Guide-Quantitative-Finance-Interviews/dp/1735028800/ref=asc_df_1735028800?tag=bingshoppinga-20&linkCode=df0&hvadid=79989562810675&hvnetw=o&hvqmt=e&hvbmt=be&hvdev=c&hvlocint=&hvlocphy=&hvtargid=pla-4583589110395376&psc=1" target = "_blank">
                <img src="static/saved_images/greenbookimage.jpg" height = "400" class = "image-hover-effect">
            </a>
        </div>
        <div class = "col-4">
            <a href = "https://www.amazon.com/gp/product/0970055285/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0970055285&linkCode=as2&tag=quant0f-20" target = "_blank">
                <img src="static/saved_images/quantbook5.jpg" height = "400" class = "image-hover-effect">
            </a>
        </div>
        <div class = "col-4">
            <a href = "https://www.amazon.com/Man-Who-Solved-Market-Revolution/dp/073521798X/ref=asc_df_073521798X?tag=bingshoppinga-20&linkCode=df0&hvadid=80882915732579&hvnetw=o&hvqmt=e&hvbmt=be&hvdev=c&hvlocint=&hvlocphy=&hvtargid=pla-4584482462085337&psc=1" target = "_blank">
                <img src="static/saved_images/quantbook2.jpg" height = "400" class = "image-hover-effect">
            </a>
        </div>
    </div>
    <br><br>
    <div class = "row text-center">
        <div class = "col-4">
            <a href = "https://www.amazon.com/gp/product/0470452579/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0470452579&linkCode=as2&tag=quant0f-20" target = "_blank">
                <img src="static/saved_images/quantbook4.jpg" height = "400" class = "image-hover-effect">
            </a>
        </div>
        <div class = "col-4">
            <a href = "https://www.amazon.com/Quants-Whizzes-Conquered-Street-Destroyed/dp/0307453383/ref=asc_df_0307453383?tag=bingshoppinga-20&linkCode=df0&hvadid=80126962060928&hvnetw=o&hvqmt=e&hvbmt=be&hvdev=c&hvlocint=&hvlocphy=&hvtargid=pla-4583726541088224&psc=1" target = "_blank">
                <img src="static/saved_images/quantbook3.jpg" height = "400" class = "image-hover-effect">
            </a>
        </div>
        <div class = "col-4">
            <a href = "https://www.abebooks.com/servlet/BookDetailsPL?bi=31549723190&ref_=ps_ms_370718797&cm_mmc=msn-_-comus_shopp_textbook-_-naa-_-naa&msclkid=08e401576d9a15f1b03765faedbee473" target = "_blank">
                <img src="static/saved_images/quantbook6.jpg" height = "400" class = "image-hover-effect">
            </a>
        </div>
    </div>
    <br><br><br>
    <div class="firm_buttons">
        <div class="row">
            <h1>Firms</h1>
            <div class="col-4">
                <a href="https://www.deshaw.com/" target="_blank">
                    <button class="firm_btn-hover deshaw">D.E. Shaw & Co</button>
                </a>
            </div>
            <div class="col-4">
                <a href="https://www.citadel.com/" target="_blank">
                    <button class="firm_btn-hover citadel">Citadel Securities</button>
                </a>
            </div>
            <div class="col-4">
                <a href="https://www.twosigma.com/" target="_blank">
                    <button class="firm_btn-hover twosigma">Two Sigma</button>
                </a>
            </div>
        </div><br>
        <div class="row">
            <div class="col-4">
                <a href="https://www.bridgewater.com/" target="_blank">
                    <button class="firm_btn-hover bridgewater">Bridgewater Associates</button>
                </a>
            </div>
            <div class="col-4">
                <a href="https://www.janestreet.com/" target="_blank">
                    <button class="firm_btn-hover janestreet">Jane Street</button>
                </a>
            </div>
            <div class="col-4">
                <a href="https://optiver.com/" target="_blank">
                    <button class="firm_btn-hover optiver">Optiver</button>
                </a>
            </div>
        </div><br>
        <div class="row">
            <div class="col-4">
                <a href="https://www.sig.com/" target="_blank">
                    <button class="firm_btn-hover sigllp">SIG LLP</button>
                </a>
            </div>
            <div class="col-4">
                <a href="https://www.aqr.com/" target="_blank">
                    <button class="firm_btn-hover aqr">AQR Capital</button>
                </a>
            </div>
            <div class="col-4">
                <a href="https://www.hudsonrivertrading.com/" target="_blank">
                    <button class="firm_btn-hover hudsonrivertrading">Hudson River Trading</button>
                </a>
            </div>
        </div>
    </div>
    
</div>
<br><br>
    </body>
</html>