<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width">
  	<title>More Strategies</title>
    <link rel="icon" type="image/x-icon" href="static/saved_images/quantanywherelogo.jpg">
  	<link href="static/css/style.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Create a collapsible navbar content area -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <!-- Create an unordered list to hold the navigation links -->
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/resources">Resources</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
      <div id="container">
        <input hidden type="radio" name="carousel-control" id="button_main" checked/>
        <input hidden type="radio" name="carousel-control" id="button_a" />
        <input hidden type="radio" name="carousel-control" id="button_b"/>
        <input hidden type="radio" name="carousel-control" id="button_c"/>
        <input hidden type="radio" name="carousel-control" id="button_d"/>  
        <input hidden type="radio" name="carousel-control" id="button_e"/>           
        <div id="carousel">
            <div class="p-wrapper">
                <section class="panel_main">
                  <h1 id="welcometext" class = "red">Technical Analysis</h1>
                  <p>There are plenty of ways to analyze whether an investment is good or not, or when you should buy or sell it. The overall market, economic data, financial statements and fundamentals can all be beneficial factors to examine when looking at a new investment -- whether a stock or another kind of security.
                    But one of the major ways analysts and investors determine good investments is by using technical analysis. 
                    Unlike its counterpart fundamental analysis, technical analysis examines things like trends and price movement to analyze the viability of a potential investment. But what actually is technical analysis and what are some examples? </p>

                    <h4>What is Technical Analysis</h4>
                    <p>Technical analysis is a process used to examine and predict the future prices of securities by looking at things like price movement, charts, trends, trading volume and other factors. Unlike fundamental analysis, technical analysis focuses on trading signals to delineate good investments and trading opportunities by examining an investment's trends through its trading data and other statistical elements.</p>
                    <h4>Important Assumptions</h4>
                    <p><i>History Repeats Itself</i> - One of the major tenets of technical analysis is the assumption that history repeats itself, especially with regard to security prices. Technical analysts maintain that prices move in a cyclical nature over time, especially when considering market behavior and human emotions. Looking at things like alternating bull markets and bear markets, the "history-repeating-itself" hypothesis makes sense in a broader sense of market psychology. 
                    </p>
                    <p>
                      <i>Price and the Market Discounts Everything
                      </i>
                       - Another major assumption that technical analysts base their work on is that because price supposedly takes financials, the economy and the overall market into account inherently, examining these factors separately is unnecessary. In other words, technical analysts consider fundamental analysis largely unnecessary due to the fact that many of the things that fundamental analysts examine about a security or company are already factored in to the price of that security, thereby making technical analysis more important. 
                    </p>
                    <p>
                      <i>Prices Are Trend-Driven
                      </i>
                       - Lastly, one of the biggest assumptions technical analysis makes is that prices follow trends and aren't random.  Much of technical analysis involves examining data and chart patterns of historical prices as well as current ones, as technical analysts believe those prices move in trends of different lengths like short term, medium term and long term. 
                    </p>
                  <center><input class = "submit-btn" type="submit" value = "Learn More" onclick = "window.open('https://www.investopedia.com/terms/t/technical-analysis-of-stocks-and-trends.asp'), '_blank'"/></center>
                </section>  
                <section class="panel_a">
                    <h1>Oscillator</h1>
                    <p>An oscillator is a technical analysis tool that constructs high and low bands between two extreme values, and then builds a trend indicator that fluctuates within these bounds. Traders use the trend indicator to discover short-term overbought or oversold conditions. When the value of the oscillator approaches the upper extreme value, technical analysts interpret that information to mean that the asset is overbought, and as it approaches the lower extreme, technicians consider the asset to be oversold.</p>
                    <p>There are many types of strategies utilizing this movement of stock price such as: </p>
                    <h4><i>Cross Above or Below the Zero Line</i></h4>
                    <h4><i>The Saucer Strategy</i></h4>
                    <h4><i>Twin Peaks - Bullish and Bearish Peaks</i></h4>
                    <br>
                    <center><input class = "submit-btn" type="submit" value = "Learn More" onclick = "window.open('https://www.investopedia.com/terms/o/oscillator.asp'), '_blank'"/></center><br><br><br>
                  </section>
                  <section class="panel_b">
                    <h1>Stochastic Oscillator</h1>
                    <p>The stochastic oscillator is a momentum indicator that is widely used in forex trading to pinpoint potential trend reversals. This indicator measures momentum by comparing closing price to the trading range over a given period.</p><p>

                      The charted stochastic oscillator actually consists of two lines: the indicator itself is represented by %K, and a signal line reflecting the three-day simple moving average (SMA) of %K, which is called %D. When these two lines intersect, it signals that a trend shift may be approaching.</p>
                      
                      <p>In a chart displaying a pronounced bullish trend, for example, a downward cross through the signal line indicates that the most recent closing price is closer to the lowest low of the look-back period than it has been in the previous three sessions. After sustained upward price action, a sudden drop to the lower end of the trading range may signify that bulls are losing steam.</p>
                      
                      <p>Like other range-bound momentum oscillators, such as the relative strength index (RSI) and Williams %R, the stochastic oscillator is also useful for determining overbought or oversold conditions. Ranging from 0 to 100, the stochastic oscillator reflects overbought conditions with readings over 80 and oversold conditions with readings under 20. Crossovers that occur in these outer ranges are considered particularly strong signals. Many traders ignore crossover signals that do not occur at these extremes.</p>
                      <center><input class = "submit-btn" type="submit" value = "Learn More" onclick = "window.open('https://www.investopedia.com/terms/s/stochasticoscillator.asp'), '_blank'"/></center>
                    </section>
                        
                <section class="panel_c">
                    <h1>Momentum</h1>
                    <p>Momentum investing was all the rage in the 1990s, when the markets were rising like a hot air balloon.</p>
                      <p>This strategy is based upon the idea of purchasing whatever sector of the market has posted the greatest earnings or price gains in the market over the past year. Many funds, such as American Century Ultra (TWCUX), relied heavily on variations of the momentum strategy during this time and when the tech bubble burst, they went down with it, some harder than others.
                      Kiplinger. "The Surprising Success of a Dumb Investment."</p>
                      <p>Even now with the emergence of AI, many stocks have appreciated significantly due to the momentum within the industry. These suddnen growths, for example Nividia, may provide indications for future buys or sells. </p>
                      <center><input class = "submit-btn" type="submit" value = "Learn More" onclick = "window.open('https://www.investopedia.com/trading/introduction-to-momentum-trading/'), '_blank'"/></center>
                </section>        
                <section class="panel_d">
                    <h1>Trend Following</h1>
                    <p>In all of trading, perhaps the quickest way to make a lot of money is to latch onto a trend in a futures market and ride it. </p>
                      <p>This approach has two catalysts. First, futures trading involves leverage, which means you only put up a small fraction of the value of the contract when entering a trade. Second, when a market soars or swoons, a lot of money can be made quickly. Of course, that's the good news. The bad news is that things can also go in the other direction, so strong risk control is an essential element to successful futures trading. </p>
                        <p>This short reading does not get into the nitty-gritty of risk control and money management. There is a lot more to understand about this strategy so feel free to learn more about it below.
                    </p>
                    <center><input class = "submit-btn" type="submit" value = "Learn More" onclick = "window.open('https://www.investopedia.com/terms/t/trendanalysis.asp'), '_blank'"/></center>
                </section>   
                <section class="panel_e">
                  <h1>Mean Reversion</h1>
                  <p>Mean reversion is a theory implying that asset prices and historical returns gradually move towards the long-term mean, which can be based on the economy, industry, or average return within a set of data.
                  </p>
                  <p>The greater the deviation from their mean, the higher probability that the next movement of asset prices will be closer to the mean. In other words, an extreme event that would increase or decrease the momentum of a stock would likely be followed by a less extreme event that would cause far less fluctuation.
                  </p>
                  <p>Generally, mean reversion is used as a statistical analysis of market conditions to determine a trading strategy. For example, from the perspective of investing, strategies that involve mean reversion are comparing stocks or other securities whose price-performance greatly contrasts its historical average.</p>

                    <p>Applying that knowledge, investors are capable of measuring and determining when to buy under the mean and sell above it. Mean reversion is also used in options pricing to better determine how an asset’s volatility fluctuates along with its long-term average.
                  
                    Under the assumption that assets will revert back to their mean, many traders attempt to capitalize on catalysts that affect the price action of the stock. Thus, in terms of buying and selling, traders profit from upswings and prevent losses on downswings.</p>
                  <center><input class = "submit-btn" type="submit" value = "Learn More" onclick = "window.open('https://www.investopedia.com/terms/m/meanreversion.asp'), '_blank'"/></center>
              </section>  
            </div> <!-- // .p-wrapper -->
        </div> <!-- // #carousel -->            
        <div id="navigation">
            <label for="button_main" class="label_main"> <span>Techincal Analysis</span> </label>
            <label for="button_a" class="label_a"> <span>Oscillator</span> </label>
            <label for="button_b" class="label_b"> <span>Stochastic</span> </label>
            <label for="button_c" class="label_c"> <span>Momentum</span> </label>
            <label for="button_d" class="label_d"> <span>Trend Following</span> </label>
            <label for="button_e" class="label_e"> <span>Mean Reversion</span> </label>
        </div> <!-- // #navigation -->               
    </div> <!-- // #container -->
    </body>
</html>