/* Import custom fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Neonderthaw&display=swap');

/* Color Palette Used:
#000000 (black);
#14212D (dark blue);
#FCA311 (yellow);
#E5E5E5 (light gray);
#FFFFFF (white);
*/

/* This is a custom class to change the color of the NavBar...it overrides the Bootstrap built-in style */
#navbarNav{
    font-weight: 750;
    overflow: hidden;
    background-color: rgb(29, 28, 28);
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 1px;
    text-decoration: none;
    position: fixed;
    top: 0;
    width: 100%;
    padding-bottom: 12;
}

.nav-link {
  cursor: pointer !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgba(255, 255, 255, 0.808);
    color: black !important;
  }

/* Background color for every page, default font for every page, default font color for every page */
body {
  background-color: black !important;
  color: white !important;
}

/* Custom font & font color for h1 elements, center alignment for text, text resize (and override of h1 default), top padding (for cushion away from NavBar) */
h1 {
  color: white;
  text-align: center;
  font-size: 72px !important;
  padding-top: 16px;
}

/* Custom font & font color for h2 elements, center alignment for text, text resize (and override of h2 default), top padding (for cushion from other elements), text underline feature */
h2 {
  color: white;
  text-align: center;
  font-size: 36px !important;
  padding-top: 16px;
  text-decoration-line: underline;
}
h3{
  padding-top: 70px;
  padding-bottom: 35px;
}

.input-field {
  padding-top: 20px;
  display: block;
  height: 80% !important;
  width: 100%;
  margin-bottom: 15px;
}

.input-field input[type="text"],
.input-field input[type="number"],
.input-field input[type="email"],
.input-field textarea {
  padding: 10px;
  border: 4px solid #ccc;
  border-radius: 8px !important; 
  width: 10vh;
  height: 30px;
  font-size: 16px;
}

.input-field input[type="date"] {
  padding: 10px;
  border: 4px solid #ccc;
  border-radius: 8px !important; 
  width: 150px;
  height: 30px;
  font-size: 16px;
}

/* Style for the submit button */
.submit-btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: rgb(65, 63, 63);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  }

.submit-btn:hover {
  background-color: rgba(164, 162, 162, 0.509);
}



/* Text color for all links on page */
a {
  color: black;
}

/* To increase the size of the form box for user rationale */
#details {
  height: 150px;
}

.charts{
    align-content: center;
    align-items: center;
}

.carousel {
  max-width: 30vw;
  display: inline-block;
  text-align: center;
}

.accordion {
  max-width: 30vw;
  display: inline-block;
  vertical-align: top;
}

#textInput{
  height: 100px !important;
  vertical-align: text-top;
  padding-bottom:60px;
}

#textInput::placeholder {
  padding-bottom:60px;
}
